body {
    background-color: black;
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 20px;
    margin: 5px;
}


button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #4885ed;
    border: 1px solid #4885ed;
    color: #fcfcfc;
}

.container1 {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 48px;
}

.logo {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

.links {
    width: 400px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
}

.link-box {
    border: 2px solid #fcfcfc;
    border-radius: 10px;
}

.header-intro {
    width: 600px;
    height: 300px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin-left: 200px;
}

.container-intro {
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    width: 596px;
    height: 246px;
    border: 2px solid #fcfcfc;
    border-radius: 10px;
    margin-right: 0;
}

.intro {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.title-intro {
    font-size: 18px;
    font-weight: bold;
    color: #fcfcfc;
}

.info-intro {
    font-size: 15px;
    color: #DFE1E0;
    text-align: justify;
}

.mainimg {
    width: 300px;
    height: 200px;
    margin: 20px;
}

.img {
    width: 400px;
    height: 250px;
    margin: 20px;
}

.container2 {
    width: 1000px;
    height: 860px;
}

.title-box {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.title {
    color: #fcfcfc;
    font-size: 30px;
}

.projects1 {
    display: flex;
    margin-bottom: 50px;
}

.projects2 {
    display: flex;
}

.proj-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 420px;
    height: 340px;
    border: 2px solid #fcfcfc;
    border-radius: 10px;
    margin-left: 50px;
}

.info {
    width: 300px;
    height: 30px;
    color: #fcfcfc;
    text-align: center;
}

.container3 {
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #db3236;
    border-radius: 10px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #fcfcfc;
    border-radius: 10px;
    width: 700px;
    height: 200px;
}

.quote {
    font-size: 24px;
    font-style: italic;
    text-align: justify;
    color: #DFE1E0;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.author {
    font-size: 22px;
    text-align: end;
    color: #fcfcfc;
    margin-right: 20px;
    margin-bottom: 20px;
}

.newsletter {
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-box {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #4885ed;
}

.news {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    gap: 5px;
}

.title-news {
    width: fit-content;
    height: fit-content;
    color: #fcfcfc;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.news-info {
    width: fit-content;
    height: fit-content;
    color: #DFE1E0;
    font-size: 14px;
}

.button2 {
    margin-right: 20px;
    border-radius: 8px;
    border: 2px solid #fcfcfc;
    color: #fcfcfc;
}

.footer {
    width: 1000px;
    height: 40px;
    background-color: #f4c20d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}